.specialist__info {
  display: flex;
  flex-direction: column;

  .specialist__showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    .specialist__avatar {
      margin: 20px;
    }
    .specialist__rate-quantity {
      color: #4d5c65;
      font-size: 14px;
      margin-left: 5px;
    }
    .specialist__price {
      font-size: 20px;
      font-weight: 600;
      color: #4d5c65;
    }
    .specialist__session-time {
      color: #4d5c65;
      font-size: 14px;
      font-weight: 600;
    }
    .specialist__name {
      color: #6c757d;
      font-size: 22.4px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .specialist__job-title {
      color: #7655e9;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
    }
    .specialist__location {
      font-weight: 300;
      font-size: 14px;
    }
    .specialist__language {
      font-weight: 400;
      color: #6c757d;
      font-size: 14px;
    }
  }
  .specialist__description {
    color: #4d5c65;
    font-size: 17px;
    line-height: 24px;
    padding: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .specialist__info {
    .specialist__showcase {
      align-items: flex-start;
      flex-direction: row;
      .specialist__avatar {
        margin: 0;
        margin-right: 20px;
      }
    }
  }
}
